{{>header}}
<h1 class="font-bold">OTP For Password Reset</h1>
          <p class="text-start">Hello, {{firstName}}</p>
          <p>A Password reset was initiated for {{email}}. Use the One Time Password below to complete process.</p>
          <p class="font-bold">OTP Code: {{OTPCODE}}</p>
          <p class="text-xs">Session ID: {{sessionID}} | IP Address: {{IPAddress}} | User-Agent: {{userAgent}}</p>
        </div>
{{>footer}}